$white: #FFFFFF;
$text: #1B1C21;
$textmiddle: #7E7E82;
$textback: #B5B6BC;
$boxshadow: #aba9a9;
$accent: #41F6D7;
$accentborder: #D9FFF5;
$themecolor: #FF3E79;
$itemborder: #EAEAEA;
$background: #F8F8F8;
$hover: #e9e9e9;

.about {
    margin-bottom: 30px;

    
    &__text {
        display: block;
        overflow: hidden;
        width: 288px;
        height: 90px;
        margin: 0 auto 16px auto;
        padding: 0;
    }

    &__buttons {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    &__content {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        margin: 0;
        font-family: inherit;
        font-weight: normal;
        font-style: normal;
    }

    &__more-button {
        margin-left: 24px;
        margin-bottom: 16px;
    }

    &__less-button {
        margin-left: 24px;
        margin-bottom: 16px;
    }

    &__office-img {
        width: 100%;
    }
}

.content--hidden {
    display: none;
}

@media (min-width:768px) {
    .about {
        display: flex;
        justify-content: space-between;
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;

        &__text {
            width: 312px;
            height: 160px;
        }

        &__office-img {
            max-width: 360px;
            border-radius: 3px;
            max-height: 215px;
        }

        &__buttons {
            width: 312px;
        }
    }
}

@media (min-width:1366px) {
    .about {
        max-width: 1057px;

        &__text {
            width: 490px;
            margin-left: 34px;
            margin-right: 34px;
        }

        &__office-img {
            min-width: 450px;
            max-width: 500px;
            margin-right: 90px;
            border-radius: 3px;
            max-height: 259px;
        }

        &__buttons {
            width: 490px;
        }

        &__more-button {
            margin-left: 5px;
        }
    
        &__less-button {
            margin-left: 5px;
        }
    } 
}
