.exit-menu__img, .exit-modal__img {
    width: 16px;
    height: 16px;
  
    position: absolute;
    top: 12px;
    bottom: 12px;
    right: 12px;
    left: 12px;
}

.search__img {
    position: absolute;
    top: 11px;
    left: 11px;
}

.menu__img {
    position: absolute;
    top: 12px;
    bottom: 12px;
    right: 11px;
    left: 11px;
}

.request__img {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.status__img {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 12px;
    right: 12px;
}

.call__img {
    position: absolute;
    top: 11px;
    left: 11px;
}

.msg__img {
    position: absolute;
    top: 11px;
    bottom: 9px;
    right: 10px;
    left: 10px;
}

.profile__img {
    position: absolute;
    top: 10px;
    bottom: 12px;
    right: 10px;
    left: 10px;
}