$white: #FFFFFF;
$text: #1B1C21;
$textmiddle: #7E7E82;
$textback: #B5B6BC;
$boxshadow: #aba9a9;
$accent: #41F6D7;
$accentborder: #D9FFF5;
$themecolor: #FF3E79;
$itemborder: #EAEAEA;
$background: #F8F8F8;
$hover: #e9e9e9;

.header-large {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    position: relative;
}

.head {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 28px;
    letter-spacing: -0.6px;
    margin-top: 24px;
    margin-left: 32px;
    margin-right: auto;
}

.head::before {
    content: url(../img/highlight.svg);
    position: absolute;
    left: 0;

}

.header-large__link {
    display: none;
}

@media (min-width:1366px) {
    .head {
        margin-top: 42px;
    }

    .header-large {

        &__link-text {
            color: $text;
            font-family: inherit;
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            margin-right: 0;
        }
    
        &__link-form {
            display: block;
            outline: none;
            text-decoration: none;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $themecolor;
            border: none;
            position: relative;
            margin-left: 9px;
        }
    
        &__link {
            text-decoration: none;
            display: flex;
            align-items: center;
            height: 40px;
            margin-top: 42px;
            margin-bottom: 20px;
        }

        &__link:hover {
            background-color: $hover;
            outline: 5px solid $hover;
            border-radius: 10px;
        }

        .status-link {
            margin-right: 30px;
            margin-left: 0;
        }

        .request-link {
            margin-right: 32px;
            margin-left: auto;
        }
    }
}

