$white: #FFFFFF;
$text: #1B1C21;
$textmiddle: #7E7E82;
$textback: #B5B6BC;
$boxshadow: #aba9a9;
$accent: #41F6D7;
$accentborder: #D9FFF5;
$themecolor: #FF3E79;
$itemborder: #EAEAEA;
$background: #F8F8F8;
$hover: #e9e9e9;

.bottom-buttons {
    display: flex;
    justify-content: flex-start;

    margin-top: 0;
    margin-bottom: 16px; 
}

.call {
    margin: 0 16px 0 24px;
}

.msg {
    margin: 0 16px 0 0;
}

.profile {
    margin: 0 auto 0 0;
}

.side-menu__email {
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto 12px 24px;
}

.side-menu__phone-number {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    font-style: normal;

    margin: 0 auto 40px 24px;
}

.side-menu__lang {
    margin: 0 auto 32px 24px;
}

.lang__button {
    border: none;
    outline: none;
    font-family: inherit;
    background-color: $white;
}

.lang__button--active {
    color: $textmiddle;
}

.lang__button:hover {
    background-color: $hover;
    border-radius: 6px;
}